.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
    font-family: 'Courier New', Courier, monospace;
}

.image-preview__image {
    display: none;
    width: 100%;
}

h1 {
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

